::ng-deep .mat-mdc-dialog-surface {
  background-color: #ffffff !important; /* Black background */
  color: #ffffff !important; /* White text */
  border-radius: 10px; /* Optional: rounded corners */
  padding: 20px; /* Optional: spacing */
}

/* Style the title */
::ng-deep h1.mat-dialog-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff !important; /* White text */
}

/* Style the content */
::ng-deep .mat-dialog-content {
  font-size: 1em;
  line-height: 1.5;
  color: #ffffff !important; /* White text */
}
