<form
  (ngSubmit)="onSubmit()"
  [formGroup]="registrationForm"
  class="registration-form">
  <h2>Create Your Account</h2>

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required />
  </div>

  <div class="form-group">
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" formControlName="phone" required />
  </div>

  

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required />
  </div>

  <div class="form-group form-group-checkbox">
    <input [checked]="isChecked('courier')"  (change)="toggleValue($event)" class="role" type="checkbox" id="courier" formControlName="role">
    <label for="courier">I am a courier</label>
  </div>
  
  <button
    type="submit"
    [disabled]="registrationForm.invalid"
    class="submit-btn"
  >
    Register
  </button>
</form>
